#left-panel {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

#right-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border-left: 2px solid #dee2e6;
    max-height: 500px;  
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.exercise-card {
    margin-bottom: 15px;
}


#exercise-list {
    max-height: 400px; 
    overflow-y: auto;  
}


#exercise-history {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
    padding: 20px; 
    margin-top: 30px; 
}
#exercise-history h5 {
    text-align: center; 
}

#comparison-section {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 8px; 
    padding: 20px; 
    margin-top: 30px; 
}

.history-item {
    margin-bottom: 10px;
}


#saved-exercises {
    max-height: 500px;  
    overflow-y: auto;
    height: 80%;
}


.select-exercise {
    font-size: 0.8rem; 
    padding: 3px 6px; 
}

.exercise-card .card-title {
    font-size: 1rem; 
    display: inline-block;
    margin-right: 10px; 
}


#exercise-entry-details {
    margin-top: 30px;
}


.exercise-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#exercise-list {
    margin-top: 20px;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

.login-container {
    max-width: 400px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

.login-form {
    display: flex;
    flex-direction: column;
}

.user-panel {
    position: fixed;
    top: 10px; 
    right: 10px;
    display: flex;
    flex-direction: column;
}


